@font-face {
    font-family: monserat;
    src: url('font/Montserrat-Medium.otf');
}
@font-face {
    font-family: monserat-bold;
    src: url('font/Montserrat-Black.otf');
}
@font-face {
    font-family: monserat-light;
    src: url('font/Montserrat-Light.otf');
}
@font-face {
    font-family: monserat-exta;
    src: url('font/Montserrat-Bold.otf');
}

.monserat{
    font-family: monserat;
}
.monserat-bold{
    font-family: monserat-exta;
}
.monserat-h{
    font-family: monserat-bold;
}
.monserat-light{
    font-family: monserat-light;
}
.imagecotrole{
    background-size: cover;background-position: center center; background-blend-mode: multiply;
}
.backgroundcolor{
    background: rgba(0, 0, 0, 0.5);
    background-color: #16697A;
}